<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	This is a sample contact page, for Exercise 3.5.1,
	as part of the <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
	You can contact the developer <a href="mailto:ryan.darge@gmail.com">here</a>.
</p>