<% provide(:title, 'Directions') %>
<h1>Here are some "Directions" for you/h1>
<p>
	You can find your tutorial at the following address, masked by this link:
	<a href="http://railstutorial.org/">Ruby on Rails tutorial</a>
	Have a safe trip!
</p>
